@import "@/sass/colors.scss";
@import "@/sass/mixins.scss";

.sectionImage {
  &__image {
      max-height: 600px;
      overflow: hidden;
  
      img {
        width: 100%;
        height: 100%;
      }
  }

  &__info {
    margin-top: -40px;
    padding-left: 5%;

    @include query(down-medium) {
      margin-top: -25px;
    }

    &__name,
    &__surname {
      display: block;
      font-size: (60rem/16);

      @include query(down-medium) {
        font-size: (40rem/16);
      }
    }

    &__name {
      color: $color2;
    }
  }
}