@import '@/sass/colors.scss';
@import '@/sass/mixins.scss';

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0); }
  40% {
    transform: translateY(-15px); }
  60% {
    transform: translateY(-15px); }
}

.home {
  min-height: 100vh;
  min-width: 100vw;
  overflow: visible;
  &__mainImage {
    min-width: 100vw;
    min-height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    &__image {
      opacity: 0;
      height: 100vh;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      // filter: grayscale(25%);
      @include query(down-medium) {
        height: auto;
        width: 100%;
      }
    }
  }

  &__caret {
      min-width: 100vw;
      min-height: 100vh;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      padding-bottom: 75px;
    &__image {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 53px;
      width: 53px;
      border: 3px solid $color3;
      border-radius: 50%;
      z-index: 1;
      animation: bounce 2s;
      transition: background 0.2s ease;

      &:hover {
        transform: scale(0.9);
        transition: transform 1s ease;
        cursor: pointer;
      }
    }
  }
}
