@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-dark: black;
  --color-primary: #b15063;
  --color-light: snow;
  --color-muted: rgba(195, 215, 238, 0.3);
  --color-body: #3e3a3a;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(-15px);
  }
}

@utility text-shadow {
  text-shadow: 2px 1px 8px whitesmoke;
}

@utility animation-bounce {
  animation: bounce 2s;
}

html,
body {
  background-color: var(--color-dark);
}

section {
  position: relative;
  min-height: 500px;
}
