@import '@/sass/colors.scss';

html, body {
  box-sizing: border-box;
  background-color: $color1;
  font-size: 16px;
}

body {
  overflow-x: hidden;
}

*, *:before, *:after {
  box-sizing:  border-box;
  -webkit-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

section {
  overflow: hidden;
  position: relative;
  min-height: 500px;
  background-color: $color1;
}