@import "@/sass/colors.scss";
@import "@/sass/mixins.scss";

.section {
  width: 100%;
  padding-bottom: 50px;
  background: $color3;
  @include query(down-medium) {
    padding: 0 0 2em 0;
  }

  &:last-child {
    padding-bottom: 100px;
    @include query(down-medium) {
      padding-bottom: 2em;
    }
  }

  &__image {
    max-height: 600px;
    overflow: hidden;
    img {
      // filter: grayscale(25%);
      width: 100%;
    }
  }

  &__info {
    margin-top: -40px;
    padding-left: 5%;
    @include query(down-medium) {
      margin-top: -25px;
    }
    &__name,
    &__surname {
      display: block;
      font-size: (60rem/16);
      @include query(down-medium) {
        font-size: (40rem/16);
      }
    }
    &__name {
      color: $color2;
    }
  }

  &__details,
  &__horarios {
    padding: 0 10%;
    padding-top: 30px;
    line-height: 2em;
    text-align: justify;
  }

  &__details {
    &__info {
      color: $color5;
      text-indent: 30px;
      column-count: 2;
      column-gap: 50px;
      padding-bottom: 3em;
      @include query(down-medium) {
        column-count: 1;
      }

      a {
        text-decoration: underline;
        cursor: pointer;
        color: unset;
      }

      &.noColunmsText {
        column-count: unset;
      }
    }

    &__consultButton {
      position: absolute;
      cursor: pointer;
      background-color: $color2;
      color: $color3;
      height: 70px;
      width: 70px;
      text-transform: capitalize;
      border-radius: 50%;
      border: 1px solid $color2;
      letter-spacing: 1px;
      right: 10%;
      outline: none;
      margin-top: -35px;
      @include query(down-medium) {
        height: 60px;
        width: 60px;
        margin-top: -30px;
      }

      img {
        width: 100%;
      }
    }
  }

  &__horarios {
    padding: 0 20%;
    padding-top: 40px;
    @include query(down-medium) {
      padding: 0 10%;
      padding-top: 40px;
    }

    &__noShedules {
      display: flex;
      justify-content: center;
      text-align: center;
    }

    &__single {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #eee;
      padding: 10px 0;
      @include query(down-medium) {
        margin: 0;
        flex-wrap: wrap;
        justify-content: center;
      }
      &:last-child {
        border-bottom: none;
      }

      &__name,
      &__time {
        width: 50%;
        @include query(down-medium) {
          width: 100%;
          text-align: center;
        }
      }
      &__name {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        font-weight: 600;

        &:only-child {
          width: 100%;
        }

        @include query(down-medium) {
          margin: 0;
        }
        div {
          width: 90%;
          @include query(down-medium) {
            width: 100%;
          }
        }
      }
      &__time {
        @include query(down-medium) {
          margin: 0;
        }
      }
    }
  }
}

.classSection {
  background-color: rgba(148, 130, 62, 0.17);
}

.classTeachers {
  background-color: rgba(195, 215, 238, 0.3);
}
